.logo {
    height: 50px;
}
.imgs {
 max-height: 80px;
 max-width: 100%;
 overflow: hidden;
    margin:15px auto;
    display: flex;
}
.pie > div {
    background-color: rgb(229, 232, 235);
    margin-top: 1em;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}
#map {
    height: 400px;
    width: 100%;
}
.iconos {
    display: flex !important;
}
.navbar {
    position: fixed !important;
    z-index: 10;
    left: 0;
    right: 0;
}
.redes {
    font-size: 2em;
    color: rgb(193, 88, 69);
}
.modulos >a, .modulos{
    color: rgb(175, 62, 62);
}

.modulos >a:hover{
    color: rgb(125, 20, 20);
}
#quienesSomos, .size{
    padding: 5% !important;
}